/*.header {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  line-height: 50px;
  position: fixed;
  padding-left: 200px;
  display: flex;
}
