
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    background-color:rgba(255,255,255,255);
    border-bottom: 1px solid #c0c0c0;
}
.home-title {
    font-size: 20px;
    font-family: Arial;
    color: #5a5252;
    font-weight: 600;
    min-width: 200px;
}
.search {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-input {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}
.header-container [type="text"] {
    padding: 5px;
    border: 1px solid #a7a3a3;
    border-radius: 5px;
}
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
svg path {
    fill: #746f6f;
}